In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1=pd.read_csv("/content/matches.csv")

In [ ]:
df2=pd.read_csv('balls.csv')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [ ]:
df1['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [ ]:
df1['team2'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [ ]:
df1['team1'].nunique()

15

In [ ]:
df1

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [ ]:
df2

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98740,729313,2,4,1,CA Pujara,V Sehwag,AB Dinda,0,0,0,0,1,caught,CA Pujara,PA Patel,NaN,Kings XI Punjab,Royal Challengers Bangalore
98741,729313,2,4,2,WP Saha,V Sehwag,AB Dinda,0,0,0,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Royal Challengers Bangalore
98742,729313,2,4,3,WP Saha,V Sehwag,AB Dinda,1,0,1,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Royal Challengers Bangalore
98743,729313,2,4,4,V Sehwag,WP Saha,AB Dinda,4,0,4,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Royal Challengers Bangalore
98744,729313,2,4,5,V Sehwag,WP Saha,AB Dinda,4,0,4,0,0,NaN,N,NaN,NaN,NaN,NaN

In [ ]:
df1.head

<bound method NDFrame.head of           id        city        date player_of_match  \
0     335982   Bangalore  2008-04-18     BB McCullum
1     335983  Chandigarh  2008-04-19      MEK Hussey
2     335984       Delhi  2008-04-19     MF Maharoof
3     335985      Mumbai  2008-04-20      MV Boucher
4     335986     Kolkata  2008-04-20       DJ Hussey
..       ...         ...         ...             ...
811  1216547       Dubai  2020-09-28  AB de Villiers
812  1237177       Dubai  2020-11-05       JJ Bumrah
813  1237178   Abu Dhabi  2020-11-06   KS Williamson
814  1237180   Abu Dhabi  2020-11-08      MP Stoinis
815  1237181       Dubai  2020-11-10        TA Boult

                                          venue  neutral_venue  \
0                         M Chinnaswamy Stadium              0
1    Punjab Cricket Association Stadium, Mohali              0
2                              Feroz Shah Kotla              0
3                              Wankhede Stadium              0
4                                  Eden Gardens              0
..                                          ...            ...
811         Dubai International Cricket Stadium              0
812         Dubai International Cricket Stadium              0
813                        Sheikh Zayed Stadium              0
814                        Sheikh Zayed Stadium              0
815         Dubai International Cricket Stadium              0

                           team1                        team2  \
0    Royal Challengers Bangalore        Kolkata Knight Riders
1                Kings XI Punjab          Chennai Super Kings
2               Delhi Daredevils             Rajasthan Royals
3                 Mumbai Indians  Royal Challengers Bangalore
4          Kolkata Knight Riders              Deccan Chargers
..                           ...                          ...
811  Royal Challengers Bangalore               Mumbai Indians
812               Mumbai Indians               Delhi Capitals
813  Royal Challengers Bangalore          Sunrisers Hyderabad
814               Delhi Capitals          Sunrisers Hyderabad
815               Delhi Capitals               Mumbai Indians

                     toss_winner toss_decision                       winner  \
0    Royal Challengers Bangalore         field        Kolkata Knight Riders
1            Chennai Super Kings           bat          Chennai Super Kings
2               Rajasthan Royals           bat             Delhi Daredevils
3                 Mumbai Indians           bat  Royal Challengers Bangalore
4                Deccan Chargers           bat        Kolkata Knight Riders
..                           ...           ...                          ...
811               Mumbai Indians         field  Royal Challengers Bangalore
812               Delhi Capitals         field               Mumbai Indians
813          Sunrisers Hyderabad         field          Sunrisers Hyderabad
814               Delhi Capitals           bat               Delhi Capitals
815               Delhi Capitals           bat               Mumbai Indians

      result  result_margin eliminator method      umpire1         umpire2
0       runs          140.0          N    NaN    Asad Rauf     RE Koertzen
1       runs           33.0          N    NaN    MR Benson      SL Shastri
2    wickets            9.0          N    NaN    Aleem Dar  GA Pratapkumar
3    wickets            5.0          N    NaN     SJ Davis       DJ Harper
4    wickets            5.0          N    NaN    BF Bowden     K Hariharan
..       ...            ...        ...    ...          ...             ...
811      tie            NaN          Y    NaN  Nitin Menon      PR Reiffel
812     runs           57.0          N    NaN  CB Gaffaney     Nitin Menon
813  wickets            6.0          N    NaN   PR Reiffel          S Ravi
814     runs           17.0          N    NaN   PR Reiffel          S Ravi
815  wickets            5.0          N    NaN  CB Gaffaney     Nitin Menon

[816 rows x 17 columns]>

In [ ]:
df2.head

<bound method NDFrame.head of            id  inning  over  ball      batsman  non_striker     bowler  \
0      335982       1     6     5   RT Ponting  BB McCullum  AA Noffke
1      335982       1     6     6  BB McCullum   RT Ponting  AA Noffke
2      335982       1     7     1  BB McCullum   RT Ponting     Z Khan
3      335982       1     7     2  BB McCullum   RT Ponting     Z Khan
4      335982       1     7     3   RT Ponting  BB McCullum     Z Khan
...       ...     ...   ...   ...          ...          ...        ...
98740  729313       2     4     1    CA Pujara     V Sehwag   AB Dinda
98741  729313       2     4     2      WP Saha     V Sehwag   AB Dinda
98742  729313       2     4     3      WP Saha     V Sehwag   AB Dinda
98743  729313       2     4     4     V Sehwag      WP Saha   AB Dinda
98744  729313       2     4     5     V Sehwag      WP Saha   AB Dinda

       batsman_runs  extra_runs  total_runs  non_boundary  is_wicket  \
0                 1           0           1             0          0
1                 1           0           1             0          0
2                 0           0           0             0          0
3                 1           0           1             0          0
4                 1           0           1             0          0
...             ...         ...         ...           ...        ...
98740             0           0           0             0          1
98741             0           0           0             0          0
98742             1           0           1             0          0
98743             4           0           4             0          0
98744             4           0           4             0          0

      dismissal_kind player_dismissed   fielder extras_type  \
0                NaN              NaN       NaN         NaN
1                NaN              NaN       NaN         NaN
2                NaN              NaN       NaN         NaN
3                NaN              NaN       NaN         NaN
4                NaN              NaN       NaN         NaN
...              ...              ...       ...         ...
98740         caught        CA Pujara  PA Patel         NaN
98741            NaN              NaN       NaN         NaN
98742            NaN              NaN       NaN         NaN
98743            NaN              NaN       NaN         NaN
98744            NaN                N       NaN         NaN

                batting_team                 bowling_team
0      Kolkata Knight Riders  Royal Challengers Bangalore
1      Kolkata Knight Riders  Royal Challengers Bangalore
2      Kolkata Knight Riders  Royal Challengers Bangalore
3      Kolkata Knight Riders  Royal Challengers Bangalore
4      Kolkata Knight Riders  Royal Challengers Bangalore
...                      ...                          ...
98740        Kings XI Punjab  Royal Challengers Bangalore
98741        Kings XI Punjab  Royal Challengers Bangalore
98742        Kings XI Punjab  Royal Challengers Bangalore
98743        Kings XI Punjab  Royal Challengers Bangalore
98744                    NaN                          NaN

[98745 rows x 18 columns]>

In [ ]:
df2.iloc[0]  #first ball

id                                       335982
inning                                        1
over                                          6
ball                                          5
batsman                              RT Ponting
non_striker                         BB McCullum
bowler                                AA Noffke
batsman_runs                                  1
extra_runs                                    0
total_runs                                    1
non_boundary                                  0
is_wicket                                     0
dismissal_kind                              NaN
player_dismissed                            NaN
fielder                                     NaN
extras_type                                 NaN
batting_team              Kolkata Knight Riders
bowling_team        Royal Challengers Bangalore
Name: 0, dtype: object

In [ ]:
df2.iloc[-1]   #last ball

id                    729313
inning                     2
over                       4
ball                       5
batsman             V Sehwag
non_striker          WP Saha
bowler              AB Dinda
batsman_runs               4
extra_runs                 0
total_runs                 4
non_boundary               0
is_wicket                  0
dismissal_kind           NaN
player_dismissed           N
fielder                  NaN
extras_type              NaN
batting_team             NaN
bowling_team             NaN
Name: 98744, dtype: object

In [ ]:
df1.groupby(['venue','id']).count().droplevel(level=1).index.value_counts()

Eden Gardens                                            77
Feroz Shah Kotla                                        74
Wankhede Stadium                                        73
M Chinnaswamy Stadium                                   65
Rajiv Gandhi International Stadium, Uppal               64
MA Chidambaram Stadium, Chepauk                         57
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Dubai International Cricket Stadium                     33
Sheikh Zayed Stadium                                    29
Punjab Cricket Association IS Bindra Stadium, Mohali    21
Maharashtra Cricket Association Stadium                 21
Sharjah Cricket Stadium                                 18
Subrata Roy Sahara Stadium                              17
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
M.Chinnaswamy Stadium                                   15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Holkar Cricket Stadium                                   9
Himachal Pradesh Cricket Association Stadium             9
New Wanderers Stadium                                    8
St George's Park                                         7
Barabati Stadium                                         7
Newlands                                                 7
JSCA International Stadium Complex                       7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
De Beers Diamond Oval                                    3
Buffalo Park                                             3
Vidarbha Cricket Association Stadium, Jamtha             3
OUTsurance Oval                                          2
Name: venue, dtype: int64

In [ ]:
df2.groupby(['batting_team'])['total_runs'].sum().sort_values(ascending= False)

batting_team
Chennai Super Kings            16325
Mumbai Indians                 14943
Royal Challengers Bangalore    14780
Kings XI Punjab                14554
Delhi Daredevils               14072
Rajasthan Royals               13906
Kolkata Knight Riders          13248
Deccan Chargers                11463
Pune Warriors                   6358
Sunrisers Hyderabad             2881
Kochi Tuskers Kerala            1901
Name: total_runs, dtype: int64